.bdclass{
    background-color: rgb(255, 255, 255);    
}

h2{
    margin-top: 20px;
    margin-left: 100px;

}

.form{
    color: rgb(128, 125, 125);
    margin-top: 20px;
    margin-left: 100px;

}


#result{
    color:rgb(129, 124, 124);  
    

}


#clearbutton{
    width: 210px;
    margin-top: 15px;
    margin-bottom: 1px;
}


.error{
    margin-top: 20px;
    margin-left: 100px;
    color:red;
}